<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
</head>
<body>
	
</body><body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inner">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand" href="#">PyPep</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#works">Works</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>


        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <a name="home"></a>
    <div class="container-fluid">
      <div class="more-space row">
        <div class="col-md-12">
          <div class="text-center intro">
            <h1>Hello there,</h1>
            <h4>We are PyPep-team.</h4><h4 class="red">A creative bunch who love code and design.</h4>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>

  <!----ABOUT US---->

  <div class="about-us" id="startchange">
    <a name="about"></a>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="descript col-xs-12 col-sm-12 col-md-12">
          <h1>ABOUT US</h1>
          <p class="about-us-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#" class="team">Our Team</a>
        </div>
      </div>
    </div>
  </div>

  <div class="break2 container-fluid text-center">
    <h3>We love being busy!</h3>
  </div>

  <!----SERVICES---->
  <div class="works">
    <a name="works"></a>
    <div class="container-fluid">

      <div class="row">
        <div class="text-center col-xs-12 col-sm-12 col-md-12">
          <h1>WORKS</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="https://picjumbo.imgix.net/HNCK8347.jpg?q=40&w=1650&sharp=30" class="img-responsive" />
            <div class="caption">
              <h3>Tool1</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et excepturi doloribus nesciunt minima obcaecati consectetur odio aspernatur consequatur cumque consequuntur vero assumenda, laborum quia, rem culpa provident totam distinctio in.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="https://picjumbo.imgix.net/HNCK8318.jpg?q=40&w=1650&sharp=30" class="img-responsive" />
            <div class="caption">
              <h3>Tool2</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, a cumque eos minus reiciendis, perferendis temporibus in porro ad fugit, facilis ut sint ratione corrupti qui enim quia voluptatem voluptas. Check it out!</p>
            </div>
          </div>
        </div>

        <!-- <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="https://picjumbo.imgix.net/HNCK7731.jpg?q=40&w=1650&sharp=30" class="img-responsive" />
            <div class="caption">
              <h3>Shoe Shine</h3>
              <p>Check out what we did with Shoe Shine's website. An ecommerce site for shoes.</p>
            </div>
          </div>
        </div>

      </div>

      <div class="space row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="https://picjumbo.imgix.net/HNCK8236.jpg?q=40&w=1650&sharp=30" class="img-responsive" />
            <div class="caption">
              <h3>Traveller's Blog</h3>
              <p>Take a look at our design of the Traveller's Blog. The website of a world traveller.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="https://picjumbo.imgix.net/HNCK7802.jpg?q=40&w=1650&sharp=30" class="img-responsive" />
            <div class="caption">
              <h3>Digitize</h3>
              <p>See our work on Digitize website. A digital marketing firm.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="https://picjumbo.imgix.net/HNCK7784.jpg?q=40&w=1650&sharp=30" class="img-responsive" />
            <div class="caption">
              <h3>HeadPhones DotInc</h3>
              <p>A website for HeadPhones DotInc's latest product. Take a look!</p>
            </div>
          </div>
        </div>

      </div> -->


    </div>
  </div>

  <div class="break1 container-fluid text-center">
    <h3>Come connect with us!</h3>
  </div>

  <div class="contact text-center">
    <a name="contact"></a>
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
          <h1>CONTACT</h3>
        </div>
      </div>
      
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h2>Connect with Pypep team at: </h2>
          <p>tashfeenc1234@gmail.com</p>
          <br/>
          <br/>
          <h3>Or, you could get in touch with us on social media</h3>
        </div>
        
      </div>
      
      <div class="row social-media-row-1">
        
        <div class="icon col-xs-6 col-sm-6 col-md-6">
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="icon col-xs-6 col-sm-6 col-md-6">
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        
      </div>
      
      <div class="row">
        
        <div class="icon col-xs-6 col-sm-6 col-md-6">
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="icon col-xs-6 col-sm-6 col-md-6">
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
        
      </div>
      
      
      
    </div>
    
  </div>

<footer>
  <div class="container-fluid">
    
    <div class="row">
      
      <div class="text-center go-up-icon col-xs-12 col-sm-6 col-md-6">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
      </div>
      
    </div>
    
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
<script src="../static/js/main.js"></script>
</body>
</html>